<h1>Topics#index</h1>

<h4><%= @sub.name %></h4>
<%= link_to "new topic #{@sub.name}", new_sub_topic_path%>

<% @topics.each do |topic| %>
 <p> Name: <%= topic.name %></p>
 <p> body: <%= topic.body %></p>
<% end %>

